<html>
<div class = "container">
<div class = "row">
<div class="col-md-6 col-md-offset-3">
<%= form_with scope: :user, url: users_path(:id), method: :POST, local: true do |form| %>
    <%= render 'shared/error_messages' %>
    <Strong >Create your Account</Strong>
    <p>
        <br>
        <%=form.label :Name%><br>
        <%=form.text_field :name, class:'form-control'%>
    </p>
    <p>
        <%=form.label :Email%><br>
        <%=form.text_field :emailId, class:'form-control'%>
    </p>
    <p>
        <%=form.label :password%><br>
        <%=form.password_field :password, class:'form-control'%>
    </p>
    <p>
        <%=form.label :"Confirm Password"%><br>
        <%=form.password_field :password_confirmation, class:'form-control'%>
    </p>
    <p>
        <%= form.submit "Create new account", class: "btn btn-primary" %>
    </p>
<%end%>
</div>
</div>
</div>
</html>