<div style="background-color:grey" align="center">
<%= form_with scope: :user, url: users_path(:id), local: true do |form| %>
    <p>
        <%=form.label :Name%><br>
        <%=form.text_field :name%>
    </p>
    <p>
        <%=form.label :Email%><br>
        <%=form.text_field :emailId%>
    </p>
    <p>
        <%=form.label :Password%><br>
        <%=form.text_field :Password%>
    </p>
    <p>
        <%=form.label :"Confirm Password"%><br>
        <%=form.text_field :Password%>
    </p>
    <p>
        <%= form.submit%><br>
    </p>
<%end%>
</div>