<html>
<title>
</title>
<head>  
<Strong></Strong>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><p align="right">Name:  <%= current_user.name %></p></div>
        <div class="col-sm-2"><p align="left"><%= link_to "Log out" ,logout_path, method: :delete %></p></div>
    </div>
</div>
<h1 align="center">
<Strong>List of Transactions</Strong>
</h1><br>
<div class="container">
<div class="row">
    <div class ="col"><Strong>Amount</Strong></div>
    <div class ="col"><Strong>Description</Strong></div>
    <div class ="col"><Strong>Document Link</Strong></div>
</div>
<br>
<% @transactions.each do |trans| %>
    <div class = "row">
          <div class = "col"><%= trans.amount %></div>
          <div class = "col"><%= trans.description %></div>
          <div class = "col"><%= link_to "transaction_document" , trans.image.url %></div>
    </div>            
<% end %>
</div>
<br>
<h1 align="center">
<Strong>Create New Transaction</Strong>
</h1>
<div class="container">

<%= form_for(:transaction, url: user_account_transactions_path([@current_user, @account]), method: :POST) do |f| %>
    <div class="row">
        <div class = "col-sm-5">Enter Amount</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%=f.text_field :amount, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Enter Description</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.text_field :description, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Upload Attachment</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.file_field :image, class:'form-control'%></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p align="left"><%=f.submit "Create", class:"btn btn-primary"%></div>    
    </div>
    <% end %>
</div>
</body> 
</html>