<html>
<title>
</title>
<head>  
<Strong></Strong>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><p align="right">Name:  <%= current_user.name %></p></div>
        <div class="col-sm-2"><p align="left"><%= link_to "Log out" ,logout_path, method: :delete %></p></div>
    </div>
</div>
<h1 align="center">
<Strong>List of Transactions</Strong>
</h1><br>
<div class="container">
<div class="row">
    <div class ="col-sm-1"><Strong>Amount</Strong></div>
    <div class ="col-sm-3"><Strong>Description</Strong></div>
    <div class ="col-sm-2"><Strong>Document Link</Strong></div>
    <div class ="col-sm-3"><Strong>Update_link</Strong></div>
    <% if current_user.admin %>
        <div class ="col-sm-3"><Strong>Document Approve(Click to Approve)</Strong></div>   
    <% else %>
        <div class ="col-sm-2"><Strong>Approval Status</Strong></div>   
    <% end %>
    
</div>
<br>
<% @transact.each do |trans| %>
    <div class = "row">
          <div class = "col-sm-1"><%= trans.amount %></div>
          <div class = "col-sm-3"><%= trans.description %></div>
          <div class = "col-sm-2"><%= link_to "transaction_document" , trans.image.url %></div>
          <% if trans.approve %>
            <div class = "col-sm-3"><Strong>Cant Edit Anymore</Strong></div>
          <% else %>
             <div class = "col-sm-3"><%= link_to "delete_image/update_image", edit_user_account_transaction_path(@current_user,@account,trans)%></div>
          <% end %>
             <% if current_user.admin %>
                <div class = "col-sm-3"><%= link_to "Approve", approve_path(:transaction_id => trans.id), method: :POST %></div>
          <% else %>
                <% if trans.approve %>
                    <div class = "col-sm-3"><Strong>Approved</Strong></div>
                <% else %>
                    <div class = "col-sm-3"><Strong>Not Approved</Strong></div>
                <% end %>
          <% end %>
          <div class = "row"><p><br></p></div>
    </div>            
<% end %>
</div>
<br>
<h1 align="center">
<Strong>Create New Transaction</Strong>
</h1>
<div class="container">

<%= form_for(:transaction, url: user_account_transactions_path([@current_user, @account]), method: :POST) do |f| %>
    <div class="row">
        <div class = "col-sm-5">Enter Amount</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%=f.text_field :amount, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Enter Description</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.text_field :description, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Upload Attachment</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.file_field :image, class:'form-control'%></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p align="left"><%=f.submit "Create", class:"btn btn-primary"%></div>    
    </div>
    <% end %>
</div>
</body> 
</html>