<html>
<title>
</title>
<head>  
<Strong></Strong>
</head>
<body>
<div class="container">
<% @transactions.each do |trans| %>
    <div class = "row">
          <div class = "col"><%= trans.amount %></div>
          <div class = "col"><%= trans.description %></div>
          <div class = "col"><%= trans.image%></div>
    </div>            
<% end %>
<%= form_for(:transaction, url: user_account_transactions_path([@current_user, @account]), method: :POST) do |f| %>
    <div class="row">
        <div class = "col-sm-5">Enter Amount</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%=f.text_field :amount, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Enter Description</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.text_field :description, class:'form-control' %></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5">Upload Attachment</div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p><%= f.file_field :image, class:'form-control'%></p></div>
    </div>
    <div class="row">
        <div class = "col-sm-5"><p align="left"><%=f.submit "Create", class:"btn btn-primary"%></div>    
    </div>
    <% end %>
</div>
</body> 
</html>